<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO VI - <br>DOS AGENTES DE TRATAMENTO DE DADOS PESSOAIS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção I
      <br>
      Do Controlador e do Operador
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art37">
      </a>
      Art. 37. O controlador e o operador devem manter registro das operações de tratamento de dados pessoais que
      realizarem, especialmente quando baseado no legítimo interesse.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art38">
      </a>
      Art. 38. A autoridade nacional poderá determinar ao controlador que elabore relatório de impacto à proteção de
      dados pessoais, inclusive de dados sensíveis, referente a suas operações de tratamento de dados, nos termos de
      regulamento, observados os segredos comercial e industrial.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      Parágrafo único. Observado o disposto no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo, o relatório deverá conter, no mínimo, a descrição dos tipos de dados coletados, a metodologia
      utilizada para a coleta e para a garantia da segurança das informações e a análise do controlador com relação a
      medidas, salvaguardas e mecanismos de mitigação de risco adotados.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art39">
      </a>
      Art. 39. O operador deverá realizar o tratamento segundo as instruções fornecidas pelo controlador, que verificará
      a observância das próprias instruções e das normas sobre a matéria.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art40">
      </a>
      Art. 40. A autoridade nacional poderá dispor sobre padrões de interoperabilidade para fins de portabilidade, livre
      acesso aos dados e segurança, assim como sobre o tempo de guarda dos registros, tendo em vista especialmente a
      necessidade e a transparência.
    </span>
  </p>

  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção II
      <br>
      Do Encarregado pelo Tratamento de Dados Pessoais
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art41"></a>Art. 41. O controlador deverá indicar encarregado pelo tratamento de dados pessoais.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 1º A identidade e as informações de contato do encarregado deverão ser divulgadas publicamente, de forma clara e
      objetiva, preferencialmente no sítio eletrônico do controlador.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
    <span style="color: black; font-weight: normal">
      § 2º As atividades do encarregado consistem em:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      I - aceitar reclamações e comunicações dos titulares, prestar esclarecimentos e adotar providências;
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - receber comunicações da autoridade nacional e adotar providências;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      III - orientar os funcionários e os contratados da entidade a respeito das práticas a serem tomadas em relação à
      proteção de dados pessoais; e
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      IV - executar as demais atribuições determinadas pelo controlador ou estabelecidas em normas complementares.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 3º A autoridade nacional poderá estabelecer normas complementares sobre a definição e as atribuições do
      encarregado, inclusive hipóteses de dispensa da necessidade de sua indicação, conforme a natureza e o porte da
      entidade ou o volume de operações de tratamento de dados.
    </span>
  </p>

  <p style="text-indent: 35px; text-align: justify;">
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      <a name="art41§4"></a>§ 4º </span>
    <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Msg/VEP/VEP-288.htm">(VETADO)</a><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">.&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>
  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção III
      <br>
      Da Responsabilidade e do Ressarcimento de Danos
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art42">
      </a>
      Art. 42. O controlador ou o operador que, em razão do exercício de atividade de tratamento de dados pessoais,
      causar a outrem dano patrimonial, moral, individual ou coletivo, em violação à legislação de proteção de dados
      pessoais, é obrigado a repará-lo.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 1º A fim de assegurar a efetiva indenização ao titular dos dados:
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      I - o operador responde solidariamente pelos danos causados pelo tratamento quando descumprir as obrigações da
      legislação de proteção de dados ou quando não tiver seguido as instruções lícitas do controlador, hipótese em que
      o operador equipara-se ao controlador, salvo nos casos de exclusão previstos no art. 43 desta Lei;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - os controladores que estiverem diretamente envolvidos no tratamento do qual decorreram danos ao titular dos
      dados respondem solidariamente, salvo nos casos de exclusão previstos no art. 43 desta Lei.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 2º O juiz, no processo civil, poderá inverter o ônus da prova a favor do titular dos dados quando, a seu juízo,
      for verossímil a alegação, houver hipossuficiência para fins de produção de prova ou quando a produção de prova
      pelo titular resultar-lhe excessivamente onerosa.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 3º As ações de reparação por danos coletivos que tenham por objeto a responsabilização nos termos do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo podem ser exercidas coletivamente em juízo, observado o disposto na legislação pertinente.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 4º Aquele que reparar o dano ao titular tem direito de regresso contra os demais responsáveis, na medida de sua
      participação no evento danoso.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art43">
      </a>
      Art. 43. Os agentes de tratamento só não serão responsabilizados quando provarem:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      I - que não realizaram o tratamento de dados pessoais que lhes é atribuído;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - que, embora tenham realizado o tratamento de dados pessoais que lhes é atribuído, não houve violação à
      legislação de proteção de dados; ou
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      III - que o dano é decorrente de culpa exclusiva do titular dos dados ou de terceiro.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art44">
      </a>
      Art. 44. O tratamento de dados pessoais será irregular quando deixar de observar a legislação ou quando não
      fornecer a segurança que o titular dele pode esperar, consideradas as circunstâncias relevantes, entre as quais:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      I - o modo pelo qual é realizado;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - o resultado e os riscos que razoavelmente dele se esperam;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      III - as técnicas de tratamento de dados pessoais disponíveis à época em que foi realizado.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      Parágrafo único. Responde pelos danos decorrentes da violação da segurança dos dados o controlador ou o operador
      que, ao deixar de adotar as medidas de segurança previstas no art. 46 desta Lei, der causa ao dano.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art45">
      </a>
      Art. 45. As hipóteses de violação do direito do titular no âmbito das relações de consumo permanecem sujeitas às
      regras de responsabilidade previstas na legislação pertinente.
    </span>
  </p>

  <br>
  <br>







</ion-content>
