<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO VII - <br>DA SEGURANÇA E DAS BOAS PRÁTICAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção I
      <br>
      Da Segurança e do Sigilo de Dados
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art46">
      </a>
      Art. 46. Os agentes de tratamento devem adotar medidas de segurança, técnicas e administrativas aptas a proteger
      os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda,
      alteração, comunicação ou qualquer forma de tratamento inadequado ou ilícito.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 1º A autoridade nacional poderá dispor sobre padrões técnicos mínimos para tornar aplicável o disposto no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo, considerados a natureza das informações tratadas, as características específicas do tratamento e o
      estado atual da tecnologia, especialmente no caso de dados pessoais sensíveis, assim como os princípios previstos
      no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      do art. 6º desta Lei.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 2º As medidas de que trata o
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo deverão ser observadas desde a fase de concepção do produto ou do serviço até a sua execução.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art47">
      </a>
      Art. 47. Os agentes de tratamento ou qualquer outra pessoa que intervenha em uma das fases do tratamento obriga-se
      a garantir a segurança da informação prevista nesta Lei em relação aos dados pessoais, mesmo após o seu término.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art48">
      </a>
      Art. 48. O controlador deverá comunicar à autoridade nacional e ao titular a ocorrência de incidente de segurança
      que possa acarretar risco ou dano relevante aos titulares.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 1º A comunicação será feita em prazo razoável, conforme definido pela autoridade nacional, e deverá mencionar,
      no mínimo:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      I - a descrição da natureza dos dados pessoais afetados;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - as informações sobre os titulares envolvidos;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      III - a indicação das medidas técnicas e de segurança utilizadas para a proteção dos dados, observados os segredos
      comercial e industrial;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      IV - os riscos relacionados ao incidente;
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
    <span style="color: black; font-weight: normal">
      V - os motivos da demora, no caso de a comunicação não ter sido imediata; e
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      VI - as medidas que foram ou que serão adotadas para reverter ou mitigar os efeitos do prejuízo.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 2º A autoridade nacional verificará a gravidade do incidente e poderá, caso necessário para a salvaguarda dos
      direitos dos titulares, determinar ao controlador a adoção de providências, tais como:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      I - ampla divulgação do fato em meios de comunicação; e
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - medidas para reverter ou mitigar os efeitos do incidente.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
    <span style="color: black; font-weight: normal">
      § 3º No juízo de gravidade do incidente, será avaliada eventual comprovação de que foram adotadas medidas técnicas
      adequadas que tornem os dados pessoais afetados ininteligíveis, no âmbito e nos limites técnicos de seus serviços,
      para terceiros não autorizados a acessá-los.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art49">
      </a>
      Art. 49. Os sistemas utilizados para o tratamento de dados pessoais devem ser estruturados de forma a atender aos
      requisitos de segurança, aos padrões de boas práticas e de governança e aos princípios gerais previstos nesta Lei
      e às demais normas regulamentares.
    </span>
  </p>
  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção II
      <br>
      Das Boas Práticas e da Governança
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
    <span style="color: black; font-weight: normal">
      <a name="art50">
      </a>
      Art. 50. Os controladores e operadores, no âmbito de suas competências, pelo tratamento de dados pessoais,
      individualmente ou por meio de associações, poderão formular regras de boas práticas e de governança que
      estabeleçam as condições de organização, o regime de funcionamento, os procedimentos, incluindo reclamações e
      petições de titulares, as normas de segurança, os padrões técnicos, as obrigações específicas para os diversos
      envolvidos no tratamento, as ações educativas, os mecanismos internos de supervisão e de mitigação de riscos e
      outros aspectos relacionados ao tratamento de dados pessoais.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
    <span style="color: black; font-weight: normal">
      § 1º Ao estabelecer regras de boas práticas, o controlador e o operador levarão em consideração, em relação ao
      tratamento e aos dados, a natureza, o escopo, a finalidade e a probabilidade e a gravidade dos riscos e dos
      benefícios decorrentes de tratamento de dados do titular.
    </span>
  </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       § 2º Na aplicação dos princípios indicados nos incisos VII e VIII do
     </span>
     <span style="color: black">
       caput
     </span>
     <span style="color: black; font-weight: normal">
       do art. 6º desta Lei, o controlador, observados a estrutura, a escala e o volume de suas operações, bem como a
       sensibilidade dos dados tratados e a probabilidade e a gravidade dos danos para os titulares dos dados, poderá:
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       I - implementar programa de governança em privacidade que, no mínimo:
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       a) demonstre o comprometimento do controlador em adotar processos e políticas internas que assegurem o
       cumprimento, de forma abrangente, de normas e boas práticas relativas à proteção de dados pessoais;
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       b) seja aplicável a todo o conjunto de dados pessoais que estejam sob seu controle, independentemente do modo
       como se realizou sua coleta;
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       c) seja adaptado à estrutura, à escala e ao volume de suas operações, bem como à sensibilidade dos dados
       tratados;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       d) estabeleça políticas e salvaguardas adequadas com base em processo de avaliação sistemática de impactos e
       riscos à privacidade;
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       e) tenha o objetivo de estabelecer relação de confiança com o titular, por meio de atuação transparente e que
       assegure mecanismos de participação do titular;
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       f) esteja integrado a sua estrutura geral de governança e estabeleça e aplique mecanismos de supervisão internos
       e externos;
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       g) conte com planos de resposta a incidentes e remediação; e
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       h) seja atualizado constantemente com base em informações obtidas a partir de monitoramento contínuo e avaliações
       periódicas;
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       II - demonstrar a efetividade de seu programa de governança em privacidade quando apropriado e, em especial, a
       pedido da autoridade nacional ou de outra entidade responsável por promover o cumprimento de boas práticas ou
       códigos de conduta, os quais, de forma independente, promovam o cumprimento desta Lei.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
     <span style="color: black; font-weight: normal">
       § 3º As regras de boas práticas e de governança deverão ser publicadas e atualizadas periodicamente e poderão ser
       reconhecidas e divulgadas pela autoridade nacional.
     </span>
   </p>
   <p  class="Artigo" style="text-indent: 35px;text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art51">
       </a>
       Art. 51. A autoridade nacional estimulará a adoção de padrões técnicos que facilitem o controle pelos titulares
       dos seus dados pessoais.
     </span>
   </p>
   <br>
   <br>











</ion-content>
