<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO I - <br>DISPOSIÇÕES PRELIMINARES</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content >
<ion-card class="lgpd">

  <p style="text-align: justify" class="" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art1">
      </a>
      Art. 1º Esta Lei dispõe sobre o tratamento de dados pessoais, inclusive nos meios digitais, por pessoa natural ou
      por pessoa jurídica de direito público ou privado, com o objetivo de proteger os direitos fundamentais de
      liberdade
      e de privacidade e o livre desenvolvimento da personalidade da pessoa natural.</span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art1p"></a>
    <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      Parágrafo único. As normas gerais contidas nesta Lei são de interesse
      nacional e devem ser observadas pela União, Estados, Distrito Federal e
      Municípios.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
        href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>

    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>

  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art2">
      </a>
      Art. 2º A disciplina da proteção de dados pessoais tem como fundamentos:
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      I - o respeito à privacidade;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      II - a autodeterminação informativa;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      III - a liberdade de expressão, de informação, de comunicação e de opinião;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      IV - a inviolabilidade da intimidade, da honra e da imagem;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      V - o desenvolvimento econômico e tecnológico e a inovação;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      VI - a livre iniciativa, a livre concorrência e a defesa do consumidor; e
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      VII - os direitos humanos, o livre desenvolvimento da personalidade, a dignidade e o exercício da cidadania pelas
      pessoas naturais.
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art3">
      </a>
      Art. 3º Esta Lei aplica-se a qualquer operação de tratamento realizada por pessoa natural ou por pessoa jurídica
      de
      direito público ou privado, independentemente do meio, do país de sua sede ou do país onde estejam localizados os
      dados, desde que:
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art3i">
      </a>
      I - a operação de tratamento seja realizada no território nacional;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <span style="color: black; font-weight: normal">
      <del>
        <a name="art3ii">
        </a>
        II - a atividade de tratamento tenha por objetivo a oferta ou o fornecimento de bens ou serviços ou o
        tratamento
        de dados de indivíduos localizados no território nacional;
      </del>
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <del>
      <a name="art3ii.">
      </a>
      <span style="color: black">
        II - a atividade de tratamento tenha por objetivo a oferta ou o fornecimento de bens ou serviços ou o
        tratamento
        de dados de indivíduos localizados no território nacional;
        ou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Redação dada pela Medida Provisória nº 869, de 2018)
        </a>
      </span></del>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art3ii.0"></a>
    <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      II - a atividade de tratamento tenha por objetivo a oferta ou o
      fornecimento de bens ou serviços ou o tratamento de dados de indivíduos
      localizados no território nacional; ou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
        href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp; </span>

    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>

  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art3iii">
      </a>
      III - os dados pessoais objeto do tratamento tenham sido coletados no território nacional.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art3iii§1">
      </a>
      § 1º Consideram-se coletados no território nacional os dados pessoais cujo titular nele se encontre no momento
      da
      coleta.
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art3iii§2"></a>§ 2º Excetua-se do disposto no inciso I deste artigo o tratamento de dados previsto no
      inciso IV do
    </span>

    <span style="color: black">
      caput
    </span>

    <span style="color: black; font-weight: normal">
      do art. 4º desta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4">
      </a>
      Art. 4º Esta Lei não se aplica ao tratamento de dados pessoais:
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4i">
      </a>
      I - realizado por pessoa natural para fins exclusivamente particulares e não econômicos;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4ii">
      </a>
      II - realizado para fins exclusivamente:
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iia">
      </a>
      a) jornalístico e artísticos; ou
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <span style="color: black; font-weight: normal; text-decoration:line-through">
      <a name="art4iib">
      </a>
      b) acadêmicos, aplicando-se a esta hipótese os arts. 7º e 11 desta Lei;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <del>
      <a name="art4iib.">
      </a>
      <span style="color: black">
        b) acadêmicos;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Redação dada pela Medida Provisória nº 869, de 2018)
        </a>
      </span>
    </del>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal; ">
      <a name="art4iib0">
      </a>
      b) acadêmicos, aplicando-se a esta hipótese os arts. 7º e 11 desta Lei;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iii">
      </a>
      III - realizado para fins exclusivos de:
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iiia">
      </a>
      a) segurança pública;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iiib">
      </a>
      b) defesa nacional;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iiic">
      </a>
      c) segurança do Estado; ou
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iiid">
      </a>
      d) atividades de investigação e repressão de infrações penais; ou
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iv">
      </a>
      IV - provenientes de fora do território nacional e que não sejam objeto de comunicação, uso compartilhado de
      dados
      com agentes de tratamento brasileiros ou objeto de transferência internacional de dados com outro país que não o
      de
      proveniência, desde que o país de proveniência proporcione grau de proteção de dados pessoais adequado ao
      previsto
      nesta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iv§1">
      </a>
      § 1º O tratamento de dados pessoais previsto no inciso III será regido por legislação específica, que deverá
      prever
      medidas proporcionais e estritamente necessárias ao atendimento do interesse público, observados o devido
      processo
      legal, os princípios gerais de proteção e os direitos do titular previstos nesta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art4iv§2">
        </a>
        § 2º É vedado o tratamento dos dados a que se refere o inciso III do
      </span>

      <span style="color: black">
        caput
      </span>

      <span style="color: black; font-weight: normal">
        deste artigo por pessoa de direito privado, exceto em procedimentos sob tutela de pessoa jurídica de direito
        público, que serão objeto de informe específico à autoridade nacional e que deverão observar a limitação
        imposta
        no § 4º deste artigo.
      </span>

    </del>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <del>
      <a name="art4iv§2.">
      </a>
      <span style="color: black">
        § 2º O tratamento dos dados a que se refere o inciso III do
        <b>
          caput
        </b>
        por pessoa jurídica de direito privado só será admitido em procedimentos sob a tutela de pessoa jurídica de
        direito público, hipótese na qual será observada a limitação de que trata o § 3º.<span
          style="color: #000000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </span><a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Redação dada pela Medida Provisória nº 869, de 2018)
        </a>
      </span>
    </del>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iv§4">
      </a>
      § 2º É vedado o tratamento dos dados a que se refere o inciso III do
    </span>

    <span style="color: black">
      caput
    </span>

    <span style="color: black; font-weight: normal">
      deste artigo por pessoa de direito privado, exceto em procedimentos sob tutela de pessoa jurídica de direito
      público, que serão objeto de informe específico à autoridade nacional e que deverão observar a limitação imposta
      no
      § 4º deste artigo.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art4iv§3">
        </a>
        § 3º A autoridade nacional emitirá opiniões técnicas ou recomendações referentes às exceções previstas no
        inciso
        III do
      </span>

      <span style="color: black">
        caput
      </span>

      <span style="color: black; font-weight: normal">
        deste artigo e deverá solicitar aos responsáveis relatórios de impacto à proteção de dados pessoais.
      </span>

    </del>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <del>
      <a name="art4iv§3.">
      </a>
      <span style="color: black">
        § 3º Os dados pessoais constantes de bancos de dados constituídos para os fins de que trata o inciso III do
        <b>
          caput
        </b>
        não poderão ser tratados em sua totalidade por pessoas jurídicas de direito privado, não incluídas as
        controladas
        pelo Poder Público.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Redação dada pela Medida Provisória nº 869, de 2018)
        </a>
      </span>
    </del>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art4iv§5">
      </a>
      § 3º A autoridade nacional emitirá opiniões técnicas ou recomendações referentes às exceções previstas no inciso
      III
      do
    </span>

    <span style="color: black">
      caput
    </span>

    <span style="color: black; font-weight: normal">
      deste artigo e deverá solicitar aos responsáveis relatórios de impacto à proteção de dados pessoais.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art4§4">
        </a>
        § 4º Em nenhum caso a totalidade dos dados pessoais de banco de dados de que trata o inciso III do
      </span>

      <span style="color: black">
        caput
      </span>

      <span style="color: black; font-weight: normal">
        deste artigo poderá ser tratada por pessoa de direito
        privado.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>

    </del>

    <span style="color: black; text-decoration:line-through">
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art3">
        (Revogado pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art4§4.0"></a>
    <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      § 4º Em nenhum caso a totalidade dos dados pessoais de banco de dados de
      que trata o inciso III do </span>
    <span style="font-size:10.0pt;font-family:Arial,sans-serif;
  color:black">caput</span><span style="font-size:10.0pt;font-family:Arial,sans-serif;
  color:black;font-weight:normal"> deste artigo poderá ser tratada por pessoa de
      direito privado, salvo por aquela que possua capital integralmente
      constituído pelo poder público.</span><span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>

    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>

  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5">
      </a>
      Art. 5º Para os fins desta Lei, considera-se:
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5i">
      </a>
      I - dado pessoal: informação relacionada a pessoa natural identificada ou identificável;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5ii">
      </a>
      II - dado pessoal sensível: dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política,
      filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à
      vida
      sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5iii">
      </a>
      III - dado anonimizado: dado relativo a titular que não possa ser identificado, considerando a utilização de
      meios
      técnicos razoáveis e disponíveis na ocasião de seu tratamento;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5iv">
      </a>
      IV - banco de dados: conjunto estruturado de dados pessoais, estabelecido em um ou em vários locais, em suporte
      eletrônico ou físico;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5v">
      </a>
      V - titular: pessoa natural a quem se referem os dados pessoais que são objeto de tratamento;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5vi">
      </a>
      VI - controlador: pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões
      referentes
      ao tratamento de dados pessoais;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5vii">
      </a>
      VII - operador: pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados
      pessoais em nome do controlador;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <span style="color: black; font-weight: normal; text-decoration:line-through">
      <a name="art5viii">
      </a>
      VIII - encarregado: pessoa natural, indicada pelo controlador, que atua como canal de comunicação entre o
      controlador e os titulares e a autoridade nacional;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <a name="art5viii.">
    </a>
    <span style="color: black; text-decoration:line-through">
      VIII - encarregado: pessoa indicada pelo controlador para atuar como canal de comunicação entre o controlador,
      os
      titulares dos dados e a Autoridade Nacional de Proteção de
      Dados;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Redação dada pela Medida Provisória nº 869, de 2018)</a>
    </span>

  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art5viii.0"></a>
    <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      VIII - encarregado: pessoa indicada pelo controlador e operador para
      atuar como canal de comunicação entre o controlador, os titulares dos
      dados e a Autoridade Nacional de Proteção de Dados (ANPD);&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp; </span>

    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>

  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5ix">
      </a>
      IX - agentes de tratamento: o controlador e o operador;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5x">
      </a>
      X - tratamento: toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção,
      classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento,
      armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão
      ou
      extração;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5xi">
      </a>
      XI - anonimização: utilização de meios técnicos razoáveis e disponíveis no momento do tratamento, por meio dos
      quais
      um dado perde a possibilidade de associação, direta ou indireta, a um indivíduo;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5xii">
      </a>
      XII - consentimento: manifestação livre, informada e inequívoca pela qual o titular concorda com o tratamento de
      seus dados pessoais para uma finalidade determinada;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5xiii">
      </a>
      XIII - bloqueio: suspensão temporária de qualquer operação de tratamento, mediante guarda do dado pessoal ou do
      banco de dados;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5xiv">
      </a>
      XIV - eliminação: exclusão de dado ou de conjunto de dados armazenados em banco de dados, independentemente do
      procedimento empregado;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5xv">
      </a>
      XV - transferência internacional de dados: transferência de dados pessoais para país estrangeiro ou organismo
      internacional do qual o país seja membro;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5xvi">
      </a>
      XVI - uso compartilhado de dados: comunicação, difusão, transferência internacional, interconexão de dados
      pessoais
      ou tratamento compartilhado de bancos de dados pessoais por órgãos e entidades públicos no cumprimento de suas
      competências legais, ou entre esses e entes privados, reciprocamente, com autorização específica, para uma ou
      mais
      modalidades de tratamento permitidas por esses entes públicos, ou entre entes privados;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art5xvii">
      </a>
      XVII - relatório de impacto à proteção de dados pessoais: documentação do controlador que contém a descrição dos
      processos de tratamento de dados pessoais que podem gerar riscos às liberdades civis e aos direitos
      fundamentais,
      bem como medidas, salvaguardas e mecanismos de mitigação de risco;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <span style="color: black; font-weight: normal">
      <a name="art5xviii">
      </a>
      <del>
        XVIII - órgão de pesquisa: órgão ou entidade da administração pública direta ou indireta ou pessoa jurídica de
        direito privado sem fins lucrativos legalmente constituída sob as leis brasileiras, com sede e foro no País,
        que
        inclua em sua missão institucional ou em seu objetivo social ou estatutário a pesquisa básica ou aplicada de
        caráter histórico, científico, tecnológico ou estatístico;
      </del>
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <a name="art5xviii.">
    </a>
    <span style="color: black; text-decoration:line-through">
      XVIII - órgão de pesquisa: órgão ou entidade da administração pública direta ou indireta ou pessoa jurídica de
      direito privado sem fins lucrativos legalmente constituída sob as leis brasileiras, com sede e foro no País, que
      inclua em sua missão institucional ou em seu objetivo social ou estatutário a pesquisa básica ou aplicada de
      caráter
      histórico, científico, tecnológico ou estatístico;
      e&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Redação dada pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art5xviii.0"></a>
    <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      XVIII - órgão de pesquisa: órgão ou entidade da administração pública
      direta ou indireta ou pessoa jurídica de direito privado sem fins
      lucrativos legalmente constituída sob as leis brasileiras, com sede e
      foro no País, que inclua em sua missão institucional ou em seu objetivo
      social ou estatutário a pesquisa básica ou aplicada de caráter
      histórico, científico, tecnológico ou estatístico; e&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp; </span>

    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>

  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <span style="color: black; font-weight: normal; text-decoration:line-through">
      <a name="art5xix">
      </a>
      XIX - autoridade nacional: órgão da administração pública indireta responsável por zelar, implementar e
      fiscalizar o
      cumprimento desta Lei.
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px">
    <a name="art5xix."></a>
    <span style="color: black; text-decoration:line-through">
      XIX - autoridade nacional: órgão da administração pública responsável por zelar, implementar e fiscalizar o
      cumprimento desta Lei.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Redação dada pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      <a name="art5xix.0"></a>XIX - autoridade nacional: órgão da
      administração pública responsável por zelar, implementar e fiscalizar o
      cumprimento desta Lei em todo o território nacional.&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp; </span>

    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>

  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art6">
      </a>
      Art. 6º As atividades de tratamento de dados pessoais deverão observar a boa-fé e os seguintes princípios:
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      I - finalidade: realização do tratamento para propósitos legítimos, específicos, explícitos e informados ao
      titular,
      sem possibilidade de tratamento posterior de forma incompatível com essas finalidades;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      II - adequação: compatibilidade do tratamento com as finalidades informadas ao titular, de acordo com o contexto
      do
      tratamento;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      III - necessidade: limitação do tratamento ao mínimo necessário para a realização de suas finalidades, com
      abrangência dos dados pertinentes, proporcionais e não excessivos em relação às finalidades do tratamento de
      dados;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      IV - livre acesso: garantia, aos titulares, de consulta facilitada e gratuita sobre a forma e a duração do
      tratamento, bem como sobre a integralidade de seus dados pessoais;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      V - qualidade dos dados: garantia, aos titulares, de exatidão, clareza, relevância e atualização dos dados, de
      acordo com a necessidade e para o cumprimento da finalidade de seu tratamento;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      VI - transparência: garantia, aos titulares, de informações claras, precisas e facilmente acessíveis sobre a
      realização do tratamento e os respectivos agentes de tratamento, observados os segredos comercial e industrial;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      VII - segurança: utilização de medidas técnicas e administrativas aptas a proteger os dados pessoais de acessos
      não
      autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou difusão;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      VIII - prevenção: adoção de medidas para prevenir a ocorrência de danos em virtude do tratamento de dados
      pessoais;
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      IX - não discriminação: impossibilidade de realização do tratamento para fins discriminatórios ilícitos ou
      abusivos;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      X - responsabilização e prestação de contas: demonstração, pelo agente, da adoção de medidas eficazes e capazes
      de
      comprovar a observância e o cumprimento das normas de proteção de dados pessoais e, inclusive, da eficácia
      dessas
      medidas.
    </span>
  </p>
  <br>
  <br>
</ion-card>

</ion-content>
