<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO III - <br>DOS DIREITOS DO TITULAR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art17">
       </a>
       Art. 17. Toda pessoa natural tem assegurada a titularidade de seus dados pessoais e garantidos os direitos
       fundamentais de liberdade, de intimidade e de privacidade, nos termos desta Lei.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art18">
       </a>
       Art. 18. O titular dos dados pessoais tem direito a obter do controlador, em relação aos dados do titular por ele
       tratados, a qualquer momento e mediante requisição:
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art18i"></a>I - confirmação da existência de tratamento;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art18ii"></a>II - acesso aos dados;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art18iii"></a>III - correção de dados incompletos, inexatos ou desatualizados;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18iv"></a>IV - anonimização, bloqueio ou eliminação de dados desnecessários, excessivos ou tratados
       em
       desconformidade com o disposto nesta Lei;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18v"></a>
       <del>V - portabilidade dos dados a outro fornecedor de serviço ou produto, mediante
         requisição expressa e observados os segredos comercial e industrial, de acordo com a regulamentação do órgão
         controlador;
       </del>
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
     <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
       <a name="art18v.0"></a>V - portabilidade dos dados a outro fornecedor de serviço ou produto,
       mediante requisição expressa, de acordo com a regulamentação da
       autoridade nacional, observados os segredos comercial e industrial;&nbsp;&nbsp;&nbsp;
       <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
         Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp; </span>
     <ion-item>
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
       </a>
     </ion-item>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18vi"></a>VI - eliminação dos dados pessoais tratados com o consentimento do titular, exceto nas
       hipóteses previstas no art. 16 desta Lei;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18vii"></a>VII - informação das entidades públicas e privadas com as quais o controlador realizou uso
       compartilhado de dados;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18viii"></a>VIII - informação sobre a possibilidade de não fornecer consentimento e sobre as
       consequências da negativa;
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18ix"></a>IX - revogação do consentimento, nos termos do § 5º do art. 8º desta Lei.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§1"></a>§ 1º O titular dos dados pessoais tem o direito de peticionar em relação aos seus dados
       contra o controlador perante a autoridade nacional.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§2"></a>§ 2º O titular pode opor-se a tratamento realizado com fundamento em uma das hipóteses de
       dispensa de consentimento, em caso de descumprimento ao disposto nesta Lei.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§3"></a>§ 3º Os direitos previstos neste artigo serão exercidos mediante requerimento expresso do
       titular ou de representante legalmente constituído, a agente de tratamento.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§4"></a>§ 4º Em caso de impossibilidade de adoção imediata da providência de que trata o § 3º
       deste
       artigo, o controlador enviará ao titular resposta em que poderá:
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§4i"></a>I - comunicar que não é agente de tratamento dos dados e indicar, sempre que possível, o
       agente; ou
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§4ii"></a>II - indicar as razões de fato ou de direito que impedem a adoção imediata da
       providência.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§5"></a>§ 5º O requerimento referido no § 3º deste artigo será atendido sem custos para o
       titular,
       nos prazos e nos termos previstos em regulamento.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art18ix§6"></a>§ 6º
     </span>
     <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
       O responsável deverá informar, de maneira imediata, aos agentes de
       tratamento com os quais tenha realizado uso compartilhado de dados a
       correção, a eliminação, a anonimização ou o bloqueio dos dados, para que
       repitam idêntico procedimento, exceto nos casos em que esta comunicação
       seja comprovadamente impossível ou implique esforço desproporcional.</span><span
       style="color: black; font-weight: normal">
     </span>
     <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
       &nbsp;&nbsp;&nbsp;&nbsp;
       <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
         Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
     <ion-item>
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
       </a>
     </ion-item>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       § 7º A portabilidade dos dados pessoais a que se refere o inciso V do
     </span>
     <span style="color: black">
       caput
     </span>
     <span style="color: black; font-weight: normal">
       deste artigo não inclui dados que já tenham sido anonimizados pelo controlador.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       § 8º O direito a que se refere o § 1º deste artigo também poderá ser exercido perante os organismos de defesa do
       consumidor.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px;text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art19">
       </a>
       Art. 19. A confirmação de existência ou o acesso a dados pessoais serão providenciados, mediante requisição do
       titular:
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       I - em formato simplificado, imediatamente; ou
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       II - por meio de declaração clara e completa, que indique a origem dos dados, a inexistência de registro, os
       critérios utilizados e a finalidade do tratamento, observados os segredos comercial e industrial, fornecida no
       prazo
       de até 15 (quinze) dias, contado da data do requerimento do titular.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       § 1º Os dados pessoais serão armazenados em formato que favoreça o exercício do direito de acesso.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       § 2º As informações e os dados poderão ser fornecidos, a critério do titular:
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       I - por meio eletrônico, seguro e idôneo para esse fim; ou
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       II - sob forma impressa.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       § 3º Quando o tratamento tiver origem no consentimento do titular ou em contrato, o titular poderá solicitar
       cópia
       eletrônica integral de seus dados pessoais, observados os segredos comercial e industrial, nos termos de
       regulamentação da autoridade nacional, em formato que permita a sua utilização subsequente, inclusive em outras
       operações de tratamento.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       § 4º A autoridade nacional poderá dispor de forma diferenciada acerca dos prazos previstos nos incisos I e II do
     </span>
     <span style="color: black">
       caput
     </span>
     <span style="color: black; font-weight: normal">
       deste artigo para os setores específicos.
     </span>
   </p>
   <p class="" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art20">
       </a>
       <del>
         Art. 20. O titular dos dados tem direito a solicitar revisão, por pessoa natural, de decisões tomadas
         unicamente
         com base em tratamento automatizado de dados pessoais que afetem seus interesses, inclusive de decisões
         destinadas
         a definir o seu perfil pessoal, profissional, de consumo e de crédito ou os aspectos de sua personalidade.
       </del>
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; margin-top: 0px; margin-bottom: 0px; text-align: justify;">
     <del>
       <a name="art20.">
       </a>
       <span style="color: black">
         Art. 20. O titular dos dados tem direito a solicitar a revisão de decisões tomadas unicamente com base em
         tratamento automatizado de dados pessoais que afetem seus interesses, incluídas as decisões destinadas a
         definir o
         seu perfil pessoal, profissional, de consumo e de crédito ou os aspectos de sua
         personalidade.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
           (Redação dada pela Medida Provisória nº 869, de 2018)
         </a>
       </span>
     </del>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <a name="art20.0"></a>
     <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
       Art. 20. O titular dos dados tem direito a solicitar a revisão de
       decisões tomadas unicamente com base em tratamento automatizado de dados
       pessoais que afetem seus interesses, incluídas as decisões destinadas a
       definir o seu perfil pessoal, profissional, de consumo e de crédito ou os
       aspectos de sua personalidade.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
         Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
     <ion-item>
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
       </a>
     </ion-item>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art20§1">
       </a>
       § 1º O controlador deverá fornecer, sempre que solicitadas, informações claras e adequadas a respeito dos
       critérios
       e dos procedimentos utilizados para a decisão automatizada, observados os segredos comercial e industrial.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art20§2">
       </a>
       § 2º Em caso de não oferecimento de informações de que trata o § 1º deste artigo baseado na observância de
       segredo
       comercial e industrial, a autoridade nacional poderá realizar auditoria para verificação de aspectos
       discriminatórios em tratamento automatizado de dados pessoais.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
       <a name="art20§3"></a>§ 3º </span>
     <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Msg/VEP/VEP-288.htm">(VETADO)</a><span style="font-size:
  10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
         href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
         nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
     <ion-item>
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
       </a>
     </ion-item>
   </p>

   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art21">
       </a>
       Art. 21. Os dados pessoais referentes ao exercício regular de direitos pelo titular não podem ser utilizados em
       seu
       prejuízo.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
     <span style="color: black; font-weight: normal">
       <a name="art22">
       </a>
       Art. 22. A defesa dos interesses e dos direitos dos titulares de dados poderá ser exercida em juízo, individual
       ou
       coletivamente, na forma do disposto na legislação pertinente, acerca dos instrumentos de tutela individual e
       coletiva.
     </span>
   </p>
   <br>
   <br>


</ion-content>
