<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
     <ion-title mode="ios">CAPÍTULO X - <br>DISPOSIÇÕES FINAIS E TRANSITÓRIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art60">
       </a>
       Art. 60. A
       <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2014/Lei/L12965.htm">
         Lei nº 12.965, de 23 de abril de 2014 (Marco Civil da Internet)
       </a>
       , passa a vigorar com as seguintes alterações:&nbsp;&nbsp;
     </span>
     <ion-item>
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65">
         Vigência
       </a>
     </ion-item>
   </p>

   <blockquote>
     <blockquote>
       <p class="Artigo" style="text-indent: 35px; text-align: justify;">
         <span style="color: black; font-weight: normal">
           “Art. 7º ..................................................................
         </span>
       </p>
       <p class="Artigo" style="text-indent: 35px; text-align: justify;">
         <span style="color: black; font-weight: normal">
           .......................................................................................
         </span>
       </p>
       <p class="Artigo" style="text-indent: 35px; text-align: justify;">
         <span style="color: black; font-weight: normal">
           X - exclusão definitiva dos dados pessoais que tiver fornecido a determinada aplicação de internet, a seu
           requerimento, ao término da relação entre as partes, ressalvadas as hipóteses de guarda obrigatória de
           registros previstas nesta Lei e na que dispõe sobre a proteção de dados pessoais;
         </span>
       </p>
       <p class="Artigo" style="text-indent: 35px; text-align: justify;">
         <span style="color: black; font-weight: normal">
           ..............................................................................” (NR)
         </span>
       </p>
       <p class="Artigo" style="text-indent: 35px; text-align: justify;">
         <span style="color: black; font-weight: normal">
           “Art. 16. .................................................................
         </span>
       </p>
       <p class="Artigo" style="text-indent: 35px; text-align: justify;">
         <span style="color: black; font-weight: normal">
           .......................................................................................
         </span>
       </p>
       <p class="Artigo" style="text-indent: 35px; text-align: justify;">
         <span style="color: black; font-weight: normal">
           II - de dados pessoais que sejam excessivos em relação à finalidade para a qual foi dado consentimento pelo
           seu titular, exceto nas hipóteses previstas na Lei que dispõe sobre a proteção de dados pessoais.” (NR)
         </span>
       </p>
     </blockquote>
   </blockquote>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art61">
       </a>
       Art. 61. A empresa estrangeira será notificada e intimada de todos os atos processuais previstos nesta Lei,
       independentemente de procuração ou de disposição contratual ou estatutária, na pessoa do agente ou representante
       ou pessoa responsável por sua filial, agência, sucursal, estabelecimento ou escritório instalado no Brasil.
     </span>
   </p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal; text-decoration:line-through">
       <a name="art62">
       </a>
       Art. 62. A autoridade nacional e o Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep),
       no âmbito de suas competências, editarão regulamentos específicos para o acesso a dados tratados pela União para
       o cumprimento do disposto no
       <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L9394.htm#art9%C2%A72">
         § 2º do art. 9º da Lei nº 9.394, de 20 de dezembro de 1996 (Lei de Diretrizes e Bases da Educação Nacional)
       </a>
       , e aos referentes ao Sistema Nacional de Avaliação da Educação Superior (Sinaes), de que trata a
       <a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Lei/L10.861.htm">
         Lei nº 10.861, de 14 de abril de 2004
       </a>
       .&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     </span>
     <span style="color: black; text-decoration:line-through">
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art3">
         (Revogado pela Medida Provisória nº 869, de 2018)
       </a>
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal; ">
       <a name="art67">
       </a>
       Art. 62. A autoridade nacional e o Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep),
       no âmbito de suas competências, editarão regulamentos específicos para o acesso a dados tratados pela União para
       o cumprimento do disposto no
       <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L9394.htm#art9%C2%A72">
         § 2º do art. 9º da Lei nº 9.394, de 20 de dezembro de 1996 (Lei de Diretrizes e Bases da Educação Nacional)
       </a>
       , e aos referentes ao Sistema Nacional de Avaliação da Educação Superior (Sinaes), de que trata a
       <a href="http://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Lei/L10.861.htm">
         Lei nº 10.861, de 14 de abril de 2004
       </a>
       .</span></p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art63">
       </a>
       Art. 63. A autoridade nacional estabelecerá normas sobre a adequação progressiva de bancos de dados constituídos
       até a data de entrada em vigor desta Lei, consideradas a complexidade das operações de tratamento e a natureza
       dos dados.
     </span>
   </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="color: black; font-weight: normal">
       <a name="art64">
       </a>
       Art. 64. Os direitos e princípios expressos nesta Lei não excluem outros previstos no ordenamento jurídico pátrio
       relacionados à matéria ou nos tratados internacionais em que a República Federativa do Brasil seja parte.
     </span>
   </p>
   <p  class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0; text-align: justify;">
     <del>
       <span style="color: black; font-weight: normal">
         <a name="art65">
         </a>
         Art. 65. Esta Lei entra em vigor após decorridos 18 (dezoito) meses de sua publicação oficial
       </span>
       <span style="color: black">
         .
       </span>
     </del>
   </p>

   <p class="MsoNormal" style="text-align: justify; text-indent: 35px; margin-top: 0; margin-bottom: 0">
     <span style="color: black; text-decoration:line-through">
       <a name="art65.">
       </a>
       Art. 65. Esta Lei entra em
       vigor:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
         (Redação dada pela Medida Provisória nº 869, de 2018)
       </a>
     </span>
   </p>
   <p class="MsoNormal" style="text-align: justify; text-indent: 35px; margin-top: 0; margin-bottom: 0">
     <span style="color: black; text-decoration:line-through">
       I - quanto aos art. 55-A, art. 55-B, art. 55-C, art. 55-D, art. 55-E, art. 55-F, art. 55-G, art. 55-H, art. 55-I,
       art. 55-J, art. 55-K, art. 58-A e art. 58-B, no dia 28 de dezembro de 2018;
       e&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
         (Incluído pela Medida Provisória nº 869, de 2018)
       </a>
     </span>
   </p>

    <p class="MsoNormal" style="text-align: justify; text-indent: 35px; margin-top: 0; margin-bottom: 0">
      <span style="color: black; text-decoration:line-through">
        II - vinte e quatro meses após a data de sua publicação quanto aos demais
        artigos.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Incluído pela Medida Provisória nº 869, de 2018)
        </a>
      </span>
    </p>
    <p class="texto1" style="text-indent: 35px; text-align: justify;" >
      <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art65.."></a>Art. 65. Esta Lei entra em vigor:&nbsp;&nbsp;&nbsp;&nbsp;<a
          href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
          Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
    <p class="texto1" style="text-indent: 35px; text-align: justify;" >
      <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">I - dia 28 de dezembro de
        2018, quanto aos arts. 55-A, 55-B, 55-C, 55-D,
        55-E, 55-F, 55-G, 55-H, 55-I, 55-J, 55-K, 55-L, 58-A e 58-B;
        e&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
          Lei nº 13.853, de 2019)</a></span></p>
    <p class="texto1" style="text-indent: 35px; text-align: justify;">
      <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal"><a name="art65ia"></a>I-A – dia 1º de agosto de 2021, quanto aos arts. 52, 53 e
        54;&nbsp;&nbsp; <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2020/Lei/L14010.htm#art20">
          (Incluído pela Lei nº 14.010, de 2020)</a></span></p>

          <p class="texto1" style="text-indent: 35px; text-align: justify; " >
            <span
              style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal; text-decoration:line-through">II
              - 24 (vinte e quatro) meses após a data de sua publicação, quanto aos
              demais artigos.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              &nbsp;&nbsp;
              <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
                Lei nº 13.853, de 2019)</a></span></p>
          <p class="texto1" style="text-indent: 35px; text-align: justify;" >
            <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:#162937">
              <a name="art65ii"></a>II - em 3 de maio de 2021, quanto aos demais
              artigos.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
            <span style="color: black; ">
              <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2020/Mpv/mpv959.htm#art4">(Redação dada pela
                Medida Provisória nº
                959, de 2020) </a>
            </span>
          </p>

        <br>
        <br>





  

</ion-content>
