<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO V - <br>DA TRANSFERÊNCIA INTERNACIONAL DE DADOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art33">
      </a>
      Art. 33. A transferência internacional de dados pessoais somente é permitida nos seguintes casos:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      I - para países ou organismos internacionais que proporcionem grau de proteção de dados pessoais adequado ao
      previsto nesta Lei;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - quando o controlador oferecer e comprovar garantias de cumprimento dos princípios, dos direitos do titular e
      do regime de proteção de dados previstos nesta Lei, na forma de:
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      a) cláusulas contratuais específicas para determinada transferência;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      b) cláusulas-padrão contratuais;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      c) normas corporativas globais;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      d) selos, certificados e códigos de conduta regularmente emitidos;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      III - quando a transferência for necessária para a cooperação jurídica internacional entre órgãos públicos de
      inteligência, de investigação e de persecução, de acordo com os instrumentos de direito internacional;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      IV - quando a transferência for necessária para a proteção da vida ou da incolumidade física do titular ou de
      terceiro;
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      V - quando a autoridade nacional autorizar a transferência;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
    <span style="color: black; font-weight: normal">
      VI - quando a transferência resultar em compromisso assumido em acordo de cooperação internacional;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
    <span style="color: black; font-weight: normal">
      VII - quando a transferência for necessária para a execução de política pública ou atribuição legal do serviço
      público, sendo dada publicidade nos termos do inciso I do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      do art. 23 desta Lei;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      VIII - quando o titular tiver fornecido o seu consentimento específico e em destaque para a transferência, com
      informação prévia sobre o caráter internacional da operação, distinguindo claramente esta de outras finalidades;
      ou
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      IX - quando necessário para atender as hipóteses previstas nos incisos II, V e VI do art. 7º desta Lei.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
    <span style="color: black; font-weight: normal">
      Parágrafo único. Para os fins do inciso I deste artigo, as pessoas jurídicas de direito público referidas no
      parágrafo único do
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm#art1">
        art. 1º da Lei nº 12.527, de 18 de novembro de 2011 (Lei de Acesso à Informação)
      </a>
      , no âmbito de suas competências legais, e responsáveis, no âmbito de suas atividades, poderão requerer à
      autoridade nacional a avaliação do nível de proteção a dados pessoais conferido por país ou organismo
      internacional.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art34">
      </a>
      Art. 34. O nível de proteção de dados do país estrangeiro ou do organismo internacional mencionado no inciso I do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      do art. 33 desta Lei será avaliado pela autoridade nacional, que levará em consideração:
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
    <span style="color: black; font-weight: normal">
      I - as normas gerais e setoriais da legislação em vigor no país de destino ou no organismo internacional;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      II - a natureza dos dados;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      III - a observância dos princípios gerais de proteção de dados pessoais e direitos dos titulares previstos nesta
      Lei;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      IV - a adoção de medidas de segurança previstas em regulamento;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      V - a existência de garantias judiciais e institucionais para o respeito aos direitos de proteção de dados
      pessoais; e
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      VI - outras circunstâncias específicas relativas à transferência.
    </span>
  </p>
  <p  class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art35">
      </a>
      Art. 35. A definição do conteúdo de cláusulas-padrão contratuais, bem como a verificação de cláusulas contratuais
      específicas para uma determinada transferência, normas corporativas globais ou selos, certificados e códigos de
      conduta, a que se refere o inciso II do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      do art. 33 desta Lei, será realizada pela autoridade nacional.
    </span>
  </p>
  <p  class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 1º Para a verificação do disposto no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo, deverão ser considerados os requisitos, as condições e as garantias mínimas para a transferência que
      observem os direitos, as garantias e os princípios desta Lei.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 2º Na análise de cláusulas contratuais, de documentos ou de normas corporativas globais submetidas à aprovação
      da autoridade nacional, poderão ser requeridas informações suplementares ou realizadas diligências de verificação
      quanto às operações de tratamento, quando necessário.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 3º A autoridade nacional poderá designar organismos de certificação para a realização do previsto no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo, que permanecerão sob sua fiscalização nos termos definidos em regulamento.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 4º Os atos realizados por organismo de certificação poderão ser revistos pela autoridade nacional e, caso em
      desconformidade com esta Lei, submetidos a revisão ou anulados.
    </span>
  </p>
  <p  class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      § 5º As garantias suficientes de observância dos princípios gerais de proteção e dos direitos do titular referidas
      no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo serão também analisadas de acordo com as medidas técnicas e organizacionais adotadas pelo operador,
      de acordo com o previsto nos §§ 1º e 2º do art. 46 desta Lei.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
    <span style="color: black; font-weight: normal">
      <a name="art36">
      </a>
      Art. 36. As alterações nas garantias apresentadas como suficientes de observância dos princípios gerais de
      proteção e dos direitos do titular referidas no inciso II do art. 33 desta Lei deverão ser comunicadas à
      autoridade nacional.
    </span>
  </p>
  <br>
  <br>








</ion-content>
