<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO VIII - <br>DA FISCALIZAÇÃO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção I
      <br>
      Das Sanções Administrativas
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
    <span style="color: black; font-weight: normal">
      <a name="art52">
      </a>
    </span>
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      Art. 52. Os agentes de tratamento de dados, em razão das infrações cometidas às normas previstas nesta Lei, ficam
      sujeitos às seguintes sanções administrativas aplicáveis pela autoridade nacional:&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">(Vigência)</a></span></p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      I - advertência, com indicação de prazo para adoção de medidas corretivas;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      II - multa simples, de até 2% (dois por cento) do faturamento da pessoa jurídica de direito privado, grupo ou
      conglomerado no Brasil no seu último exercício, excluídos os tributos, limitada, no total, a R$ 50.000.000,00
      (cinquenta milhões de reais) por infração;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      III - multa diária, observado o limite total a que se refere o inciso II;
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      IV - publicização da infração após devidamente apurada e confirmada a sua ocorrência;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      V - bloqueio dos dados pessoais a que se refere a infração até a sua regularização;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      VI - eliminação dos dados pessoais a que se refere a infração;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      VII - (VETADO);
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      VIII - (VETADO);</span></p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      IX - (VETADO).
    </span>
  </p>
  <p style="text-indent: 35px; margin-top:0; margin-bottom:0; text-align: justify;" >
    <del>
      <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art52x"></a>X - </span>
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Msg/VEP/VEP-288.htm">(VETADO)</a><span
        style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei nº
          13.853, de 2019)</a></span></del><span
      style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#promulgacao">
        (Promulgação partes vetadas)</a></span></p>
  <p class="texto1" style="text-indent: 35px; margin-top:0; margin-bottom:0; text-align: justify;" >
    <del>
      <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        XI -
      </span>
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Msg/VEP/VEP-288.htm">(VETADO)</a><span
        style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei nº
          13.853, de 2019)</a></span></del><span
      style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#promulgacao">
        (Promulgação partes vetadas)</a></span></p>
  <p class="texto1" style="text-indent: 35px; margin-top:0; margin-bottom:0; text-align: justify;" >
    <del>
      <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        XII -
      </span>
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Msg/VEP/VEP-288.htm">(VETADO)</a><span
        style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei nº
          13.853, de 2019)</a></span></del><span
      style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#promulgacao">
        (Promulgação partes vetadas)</a></span></p>
  <p class="texto1" style="text-indent: 35px;text-align: justify; " >
    <del>
      <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art52x.0"></a> </span>
    </del>

    <span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">X - suspensão
      parcial do funcionamento do banco de dados a que se refere a infração pelo
      período máximo de 6 (seis) meses, prorrogável por igual período, até a
      regularização da atividade de tratamento pelo controlador;&nbsp; </span><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei nº
        13.853, de 2019)</a>&nbsp;&nbsp;&nbsp; </span>
  </p>

  <p class="texto1" style="text-indent: 35px; text-align: justify; " >
    <span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">XI - suspensão
      do exercício da atividade de tratamento dos dados pessoais a que se refere a
      infração pelo período máximo de 6 (seis) meses, prorrogável por igual
      período;</span><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei nº
        13.853, de 2019)</a>&nbsp;&nbsp; </span>
  </p>
  <p class="texto1" style="text-indent: 35px; text-align: justify;" >
    <span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">XII -
      proibição parcial ou total do exercício de atividades relacionadas a
      tratamento de dados.&nbsp; </span><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei nº
        13.853, de 2019)</a>&nbsp;&nbsp;&nbsp; </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      § 1º As sanções serão aplicadas após procedimento administrativo que possibilite a oportunidade da ampla defesa,
      de forma gradativa, isolada ou cumulativa, de acordo com as peculiaridades do caso concreto e considerados os
      seguintes parâmetros e critérios:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      I - a gravidade e a natureza das infrações e dos direitos pessoais afetados;
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align: justify; ">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      II - a boa-fé do infrator;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      III - a vantagem auferida ou pretendida pelo infrator;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      IV - a condição econômica do infrator;
    </span>
  </p>
  <p  class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      V - a reincidência;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      VI - o grau do dano;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      VII - a cooperação do infrator;
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px;text-align: justify; ">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      VIII - a adoção reiterada e demonstrada de mecanismos e procedimentos internos capazes de minimizar o dano,
      voltados ao tratamento seguro e adequado de dados, em consonância com o disposto no inciso II do § 2º do art. 48
      desta Lei;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      IX - a adoção de política de boas práticas e governança;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align: justify;">
    <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
      X - a pronta adoção de medidas corretivas; e</span><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
    </span>
  </p>

   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal; ">
       XI - a proporcionalidade entre a gravidade da falta e a intensidade da sanção.</span></p>
   <p class="Artigo" style="text-indent: 35px; text-align: justify;">
     <span
       style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal; text-decoration:line-through">
       § 2º O disposto neste artigo não substitui a aplicação de sanções administrativas, civis ou penais definidas em
       legislação específica.</span></p>
   <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
     <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
       <a name="art52§2"></a>§ 2º O disposto neste artigo não substitui a aplicação de sanções
       administrativas, civis ou penais definidas na Lei nº 8.078, de 11 de
       setembro de 1990, e em legislação específica.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
         href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
         Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp; </span>
     <ion-item>
       <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
       </a>
     </ion-item>
   </p>

    <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
      <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art.52§3"></a><del>§ 3º O disposto nos incisos I, IV, V, VI, VII, VIII e IX do
        </del>
      </span>
      <del>
        <span style="font-size:10.0pt;font-family:Arial,sans-serif; color:black">
          caput
        </span>
        <span style="font-size:10.0pt;font-family:Arial,sans-serif; color:black;font-weight:normal">
          deste artigo poderá ser aplicado às entidades e aos órgãos públicos, sem prejuízo do disposto na
        </span>
        <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L8112cons.htm">
          <span style="font-weight: normal">
            Lei nº 8.112, de 11 de dezembro de 1990 (Estatuto do Servidor Público Federal)
          </span>
        </a>
        <span style="font-size:10.0pt;font-family:Arial,sans-serif; color:black;font-weight:normal">
          , na
        </span>
        <span style="color: black; font-weight: normal">
          <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L8429.htm">
            Lei nº 8.429, de 2 de junho de 1992 (Lei de Improbidade Administrativa)
          </a>
        </span>
        <span style="font-size:10.0pt;font-family:Arial,sans-serif; color:black;font-weight:normal">
          , e na
        </span>
        <span style="color: black; font-weight: normal">
          <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">
            Lei nº 12.527, de 18 de novembro de 2011 (Lei de Acesso à Informação)
          </a>
        </span>
        <span style="font-size:10.0pt;font-family:Arial,sans-serif; color:black;font-weight:normal">
          .
        </span></del>
    </p>

    <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
      <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art.52§3.0"></a>
      </span>
      <span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">§ 3º O
        disposto nos incisos I, IV, V, VI, X, XI e XII do <b>caput</b> deste artigo
        poderá ser aplicado às entidades e aos órgãos públicos, sem prejuízo do
        disposto na </span><span style="font-weight: normal">
        <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L8112cons.htm">
          Lei nº 8.112, de 11 de dezembro de 1990</a></span><span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">, na </span>
      <span style="color: black; font-weight: normal">
        <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L8429.htm">
          Lei nº 8.429, de 2 de junho de 1992</a></span><span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">, e na </span>
      <span style="color: black; font-weight: normal">
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">
          Lei nº 12.527, de 18 de novembro de 2011</a></span><span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">.&nbsp;&nbsp;
      </span>
      <span style="font-size: 10.0pt; font-family: Arial,sans-serif; color: black">&nbsp;&nbsp;
      </span>
      <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
        &nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#promulgacao">(Redação
          dada pela Lei nº 13.853, de 2019)</a></span></p>
    <p class="Artigo" style="text-indent: 35px; margin-top: 0cm; text-align: justify;">
      <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art.52§4"></a>§ 4º No cálculo do valor da multa de que trata o inciso II do
      </span>
      <span style="font-size:10.0pt;font-family:Arial,sans-serif; color:black">
        caput
      </span>
      <span style="font-size:10.0pt;font-family:Arial,sans-serif; color:black;font-weight:normal">
        deste artigo, a autoridade nacional poderá considerar o faturamento total da empresa ou grupo de empresas,
        quando não dispuser do valor do faturamento no ramo de atividade empresarial em que ocorreu a infração, definido
        pela autoridade nacional, ou quando o valor for apresentado de forma incompleta ou não for demonstrado de forma
        inequívoca e idônea.
      </span>
    </p>

    <p class="texto1" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
      <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art.52§5"></a>§ 5º O produto da arrecadação das multas aplicadas pela ANPD, inscritas
        ou não em dívida ativa, será destinado ao Fundo de Defesa de Direitos
        Difusos de que tratam o art. 13 da Lei nº 7.347, de 24 de julho de 1985,
        e a Lei nº 9.008, de 21 de março de 1995.</span><span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal">&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
          Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    </p>
    <p class="texto1" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
      <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art.52§6"></a><del>§ 6º </del> </span>
      <del>
        <a
          href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Msg/VEP/VEP-288.htm">(VETADO).</a></del><span
        style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal"><del>&nbsp;&nbsp;&nbsp;
          <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
            Lei nº 13.853, de 2019)</a></del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
      <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
        &nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#promulgacao">
          (Promulgação partes vetadas)</a></span></p>

          <p class="texto1" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;" >
            <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
              <a name="art.52§6.0"></a> </span>
            <span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">§ 6º As
              sanções previstas nos incisos X, XI e XII do <b>caput</b> deste artigo
              serão aplicadas:</span><span
              style="font-size: 10.0pt; font-family: Arial,sans-serif; color: black">&nbsp;&nbsp;&nbsp;&nbsp;
            </span><span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal">
              <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
                Lei nº 13.853, de 2019)</a></span></p>

        <p class="texto1" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;" >
          <span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">I - somente
            após já ter sido imposta ao menos 1 (uma) das sanções de que tratam os
            incisos II, III, IV, V e VI do <b>caput</b> deste artigo para o mesmo
            caso concreto; e</span><span
            style="font-size: 10.0pt; font-family: Arial,sans-serif; color: black">&nbsp;&nbsp;&nbsp;&nbsp;
          </span><span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal">
            <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
              Lei nº 13.853, de 2019)</a></span></p>
        <p class="texto1" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
          <span style="font-size:10.0pt;
font-family:Arial,sans-serif;color:black">II - em caso
            de controladores submetidos a outros órgãos e entidades com competências
            sancionatórias, ouvidos esses órgãos.</span><span
            style="font-size: 10.0pt; font-family: Arial,sans-serif; color: black">&nbsp;&nbsp;&nbsp;&nbsp;
          </span><span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal">
            <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
              Lei nº 13.853, de 2019)</a></span></p>

    <p class="texto1" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;" >
      <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
        <a name="art.52§7"></a>§ 7º Os vazamentos individuais ou os acessos não autorizados de que
        trata o </span>
      <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black">
        caput</span><span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal"> do art. 46 desta Lei poderão ser objeto de conciliação
        direta entre controlador e titular e, caso não haja acordo, o
        controlador estará sujeito à aplicação das penalidades de que trata este
        artigo.&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela
          Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
      <ion-item>
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
        </a>
      </ion-item>
    </p>

    <p class="Artigo" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
      <span style="color: black; font-weight: normal">
        <a name="art53">
        </a>
        Art. 53. A autoridade nacional definirá, por meio de regulamento próprio sobre sanções administrativas a
        infrações a esta Lei, que deverá ser objeto de consulta pública, as metodologias que orientarão o cálculo do
        valor-base das sanções de multa.
      </span>
      <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
        &nbsp;&nbsp;&nbsp; <a
          href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">(Vigência)</a></span>
    </p>
    <p class="Artigo"
      style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
      <span style="color: black; font-weight: normal">
        § 1º As metodologias a que se refere o
      </span>
      <span style="color: black">
        caput
      </span>
      <span style="color: black; font-weight: normal">
        deste artigo devem ser previamente publicadas, para ciência dos agentes de tratamento, e devem apresentar
        objetivamente as formas e dosimetrias para o cálculo do valor-base das sanções de multa, que deverão conter
        fundamentação detalhada de todos os seus elementos, demonstrando a observância dos critérios previstos nesta
        Lei.
      </span>
    </p>
    <p class="Artigo" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
      <span style="color: black; font-weight: normal">
        § 2º O regulamento de sanções e metodologias correspondentes deve estabelecer as circunstâncias e as condições
        para a adoção de multa simples ou diária.
      </span>
    </p>
    <p class="Artigo" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
      <span style="color: black; font-weight: normal">
        <a name="art54">
        </a>
        Art. 54. O valor da sanção de multa diária aplicável às infrações a esta Lei deve observar a gravidade da falta
        e a extensão do dano ou prejuízo causado e ser fundamentado pela autoridade nacional.
      </span>
    </p>
    <p class="Artigo" style="text-indent: 35px; margin-top: 20px; margin-bottom: 20px; text-align: justify;">
      <span style="color: black; font-weight: normal">
        Parágrafo único. A intimação da sanção de multa diária deverá conter, no mínimo, a descrição da obrigação
        imposta, o prazo razoável e estipulado pelo órgão para o seu cumprimento e o valor da multa diária a ser
        aplicada pelo seu descumprimento.
      </span>
      <span style="font-size:10.0pt; font-family:Arial,sans-serif;color:black;font-weight:normal">
        &nbsp;&nbsp;&nbsp; <a
          href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">(Vigência)</a></span>
    </p>
<br>
<br>

















</ion-content>
