<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO IV - <br>DO TRATAMENTO DE DADOS PESSOAIS PELO PODER PÚBLICO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção I
      <br>
      Das Regras
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art23">
      </a>
      Art. 23. O tratamento de dados pessoais pelas pessoas jurídicas de direito público referidas no parágrafo único do
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm#art1">
        art. 1º da Lei nº 12.527, de 18 de novembro de 2011 (Lei de Acesso à Informação)
      </a>
      , deverá ser realizado para o atendimento de sua finalidade pública, na persecução do interesse público, com o
      objetivo de executar as competências legais ou cumprir as atribuições legais do serviço público, desde que:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art23i"></a>I - sejam informadas as hipóteses em que, no exercício de suas competências, realizam o
      tratamento de dados pessoais, fornecendo informações claras e atualizadas sobre a previsão legal, a finalidade, os
      procedimentos e as práticas utilizadas para a execução dessas atividades, em veículos de fácil acesso,
      preferencialmente em seus sítios eletrônicos;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px;text-align:justify; ">
    <span style="color: black; font-weight: normal">
      <a name="art23ii"></a>II - (VETADO); e
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal; text-decoration:line-through">
      <a name="art23iii"></a>III - seja indicado um encarregado quando realizarem operações de tratamento de dados
      pessoais, nos termos do art. 39 desta Lei.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <a name="art23iii.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      III - seja indicado um encarregado quando realizarem operações de
      tratamento de dados pessoais, nos termos do art. 39 desta Lei; e&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p style="text-indent: 35px; text-align:justify;">
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      <a name="art23iv"></a>IV - </span>
    <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Msg/VEP/VEP-288.htm">(VETADO)</a><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">.&nbsp;&nbsp;&nbsp;&nbsp;<a
        href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      § 1º A autoridade nacional poderá dispor sobre as formas de publicidade das operações de tratamento.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      § 2º O disposto nesta Lei não dispensa as pessoas jurídicas mencionadas no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo de instituir as autoridades de que trata a
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">
        Lei nº 12.527, de 18 de novembro de 2011 (Lei de Acesso à Informação)
      </a>
      .
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      § 3º Os prazos e procedimentos para exercício dos direitos do titular perante o Poder Público observarão o
      disposto em legislação específica, em especial as disposições constantes da
      <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L9507.htm">
        Lei nº 9.507, de 12 de novembro de 1997 (Lei do Habeas Data)
      </a>
      , da
      <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L9784.htm">
        Lei nº 9.784, de 29 de janeiro de 1999 (Lei Geral do Processo Administrativo)
      </a>
      , e da
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">
        Lei nº 12.527, de 18 de novembro de 2011 (Lei de Acesso à Informação)
      </a>
      .
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      § 4º Os serviços notariais e de registro exercidos em caráter privado, por delegação do Poder Público, terão o
      mesmo tratamento dispensado às pessoas jurídicas referidas no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo, nos termos desta Lei.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      § 5º Os órgãos notariais e de registro devem fornecer acesso aos dados por meio eletrônico para a administração
      pública, tendo em vista as finalidades de que trata o
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art24">
      </a>
      Art. 24. As empresas públicas e as sociedades de economia mista que atuam em regime de concorrência, sujeitas ao
      disposto no
      <a href="http://www.planalto.gov.br/ccivil_03/Constituicao/Constituicao.htm#art173">
        art. 173 da Constituição Federal
      </a>
      , terão o mesmo tratamento dispensado às pessoas jurídicas de direito privado particulares, nos termos desta Lei.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      Parágrafo único. As empresas públicas e as sociedades de economia mista, quando estiverem operacionalizando
      políticas públicas e no âmbito da execução delas, terão o mesmo tratamento dispensado aos órgãos e às entidades do
      Poder Público, nos termos deste Capítulo.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art25">
      </a>
      Art. 25. Os dados deverão ser mantidos em formato interoperável e estruturado para o uso compartilhado, com vistas
      à execução de políticas públicas, à prestação de serviços públicos, à descentralização da atividade pública e à
      disseminação e ao acesso das informações pelo público em geral.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art26">
      </a>
      Art. 26. O uso compartilhado de dados pessoais pelo Poder Público deve atender a finalidades específicas de
      execução de políticas públicas e atribuição legal pelos órgãos e pelas entidades públicas, respeitados os
      princípios de proteção de dados pessoais elencados no art. 6º desta Lei.
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art26§1">
      </a>
      § 1º É vedado ao Poder Público transferir a entidades privadas dados pessoais constantes de bases de dados a que
      tenha acesso, exceto:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art26§1i">
      </a>
      I - em casos de execução descentralizada de atividade pública que exija a transferência, exclusivamente para esse
      fim específico e determinado, observado o disposto na
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2011-2014/2011/Lei/L12527.htm">
        Lei nº 12.527, de 18 de novembro de 2011 (Lei de Acesso à Informação)
      </a>
      ;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art26§1ii">
      </a>
      II - (VETADO);
    </span>
  </p>

  <p class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art26§1iii">
      </a>
      <del>
        III - nos casos em que os dados forem acessíveis publicamente, observadas as disposições desta Lei.
      </del>
    </span>

  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0; text-align:justify;">
    <del>
      <a name="art26iii.">
      </a>
      <span style="color: black">
        III - se for indicado um encarregado para as operações de tratamento de dados pessoais, nos termos do art. 39;
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Redação dada pela Medida
          Provisória nº 869, de 2018)
        </a>
      </span></del>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art26§1iii0">
      </a>
      III - nos casos em que os dados forem acessíveis publicamente, observadas as disposições desta Lei.
    </span>
  </p>

  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <span style="color: black; text-decoration:line-through">
      <a name="art26iv">
      </a>
      IV - quando houver previsão legal ou a transferência for respaldada em contratos, convênios ou instrumentos
      congêneres;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Incluído pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>
  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <span style="color: black; letter-spacing: -.2pt">
      <a name="art26v">
      </a>
      <del>V - na hipótese de a transferência dos dados objetivar a prevenção de fraudes e irregularidades, ou proteger
        e resguardar a segurança e a integridade do titular dos dados;
        ou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </del>
    </span>
    <del>
      <span style="color: black">
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Incluído pela Medida Provisória nº 869, de 2018)
        </a>
      </span></del>
  </p>
  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; ">
    <a name="art26iv.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      IV - quando houver previsão legal ou a transferência for respaldada em
      contratos, convênios ou instrumentos congêneres;
      ou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a></span></p>
  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; ">
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      V - na hipótese de a transferência dos dados objetivar exclusivamente a
      prevenção de fraudes e irregularidades, ou proteger e resguardar a segurança
      e a integridade do titular dos dados, desde que vedado o tratamento para
      outras finalidades.&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>
  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; ">
    <span style="color: black; text-decoration:line-through">
      <a name="art2vi">
      </a>
      VI - nos casos em que os dados forem acessíveis publicamente, observadas as
      disposições desta Lei.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Incluído pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art26§2">
      </a>
      § 2º Os contratos e convênios de que trata o § 1º deste artigo deverão ser comunicados à autoridade nacional.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0;text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art27">
      </a>
      <del>
        Art. 27. A comunicação ou o uso compartilhado de dados pessoais de pessoa jurídica de direito público a pessoa
        de direito privado será informado à autoridade nacional e dependerá de consentimento do titular, exceto:
      </del>
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0;text-align:justify;">
    <del>
      <a name="art27.">
      </a>
      <span style="color: black">
        Art. 27. A comunicação ou o uso compartilhado de dados pessoais de pessoa jurídica de direito público a pessoa
        jurídica de direito privado dependerá de consentimento do titular,
        exceto:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Redação dada pela Medida Provisória nº 869, de 2018)
        </a>
      </span></del>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art66">
      </a>
      Art. 27. A comunicação ou o uso compartilhado de dados pessoais de pessoa jurídica de direito público a pessoa de
      direito privado será informado à autoridade nacional e dependerá de consentimento do titular, exceto:
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art27i">
      </a>
      I - nas hipóteses de dispensa de consentimento previstas nesta Lei;
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art27ii">
      </a>
      II - nos casos de uso compartilhado de dados, em que será dada publicidade nos termos do inciso I do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      do art. 23 desta Lei; ou
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art27iii">
      </a>
      III - nas exceções constantes do § 1º do art. 26 desta Lei.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <a name="art27p"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      Parágrafo único. A informação à autoridade nacional de que trata o
    </span>
    <span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black">
      caput</span><span style="font-size:10.0pt;font-family:Arial,sans-serif;color:black;
font-weight:normal"> deste artigo será objeto de regulamentação.</span><span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art28">
      </a>
      Art. 28. (VETADO).
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0;text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art29">
      </a>
      <del>
        Art. 29. A autoridade nacional poderá solicitar, a qualquer momento, às entidades do Poder Público, a realização
        de operações de tratamento de dados pessoais, informe específico sobre o âmbito e a natureza dos dados e demais
        detalhes do tratamento realizado e poderá emitir parecer técnico complementar para garantir o cumprimento desta
        Lei.
      </del>
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0; text-align:justify;">
    <del>
      <a name="art29.">
      </a>
      <span style="color: black">
        Art. 29. A autoridade nacional poderá solicitar, a qualquer momento, aos órgãos e às entidades do Poder Público
        a realização de operações de tratamento de dados pessoais, as informações específicas sobre o âmbito e a
        natureza dos dados e outros detalhes do tratamento realizado e poderá emitir parecer técnico complementar para
        garantir o cumprimento desta
        Lei.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
          (Redação dada pela Medida Provisória nº 869, de 2018)
        </a>
      </span>
    </del>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <a name="art29.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      Art. 29. A autoridade nacional poderá solicitar, a qualquer momento, aos
      órgãos e às entidades do poder público a realização de operações de
      tratamento de dados pessoais, informações específicas sobre o âmbito e a
      natureza dos dados e outros detalhes do tratamento realizado e poderá emitir
      parecer técnico complementar para garantir o cumprimento desta Lei.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art30">
      </a>
      Art. 30. A autoridade nacional poderá estabelecer normas complementares para as atividades de comunicação e de uso
      compartilhado de dados pessoais.
    </span>
  </p>
  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção II
      <br>
      Da Responsabilidade
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art31">
      </a>
      Art. 31. Quando houver infração a esta Lei em decorrência do tratamento de dados pessoais por órgãos públicos, a
      autoridade nacional poderá enviar informe com medidas cabíveis para fazer cessar a violação.
    </span>
  </p>
  <p class="Artigo" style="text-indent: 35px; text-align:justify;">
    <span style="color: black; font-weight: normal">
      <a name="art32">
      </a>
      Art. 32. A autoridade nacional poderá solicitar a agentes do Poder Público a publicação de relatórios de impacto à
      proteção de dados pessoais e sugerir a adoção de padrões e de boas práticas para os tratamentos de dados pessoais
      pelo Poder Público.
    </span>
  </p>
  <br>
  <br>


</ion-content>
