<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">CAPÍTULO II - <br>DO TRATAMENTO DE DADOS PESSOAIS</ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção I
      <br>
      Dos Requisitos para o Tratamento de Dados Pessoais
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7">
      </a>
      Art. 7º O tratamento de dados pessoais somente poderá ser realizado nas seguintes hipóteses:
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7i">
      </a>
      I - mediante o fornecimento de consentimento pelo titular;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7ii">
      </a>
      II - para o cumprimento de obrigação legal ou regulatória pelo controlador;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7iii">
      </a>
      III - pela administração pública, para o tratamento e uso compartilhado de dados necessários à execução de
      políticas públicas previstas em leis e regulamentos ou respaldadas em contratos, convênios ou instrumentos
      congêneres, observadas as disposições do Capítulo IV desta Lei;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7iv">
      </a>
      IV - para a realização de estudos por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados
      pessoais;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7v">
      </a>
      V - quando necessário para a execução de contrato ou de procedimentos preliminares relacionados a contrato do qual
      seja parte o titular, a pedido do titular dos dados;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7vi">
      </a>
      VI - para o exercício regular de direitos em processo judicial, administrativo ou arbitral, esse último nos termos
      da
      <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L9307.htm">
        Lei nº 9.307, de 23 de setembro de 1996 (Lei de Arbitragem)
      </a>
      ;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7vii">
      </a>
      VII - para a proteção da vida ou da incolumidade física do titular ou de terceiro;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal; text-decoration:line-through">
      <a name="art7viii">
      </a>
      VIII - para a tutela da saúde, em procedimento realizado por profissionais da área da saúde ou por entidades
      sanitárias;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art7viii.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      VIII - para a tutela da saúde, exclusivamente, em procedimento realizado
      por profissionais de saúde, serviços de saúde ou autoridade sanitária;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7ix">
      </a>
      IX - quando necessário para atender aos interesses legítimos do controlador ou de terceiro, exceto no caso de
      prevalecerem direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais; ou
    </span>
  </p>


  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art7x">
      </a>
      X - para a proteção do crédito, inclusive quanto ao disposto na legislação pertinente.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art7§1">
        </a>
        § 1º Nos casos de aplicação do disposto nos incisos II e III do
      </span>
      <span style="color: black">
        caput
      </span>
      <span style="color: black; font-weight: normal">
        deste artigo e excetuadas as hipóteses previstas no art. 4º desta Lei, o titular será informado das hipóteses em
        que será admitido o tratamento de seus
        dados.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
    </del>
    <span style="color: black; text-decoration:line-through">
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art3">
        (Revogado pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art7§1.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      § 1º <a
        href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art3">(Revogado)</a>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a></span></p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art7§2">
        </a>
        § 2º A forma de disponibilização das informações previstas no § 1º e no inciso I do
      </span>
      <span style="color: black">
        caput
      </span>
      <span style="color: black; font-weight: normal">
        do art. 23 desta Lei poderá ser especificada pela autoridade
        nacional.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </span>
    </del>
    <span style="color: black; text-decoration:line-through">
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art3">
        (Revogado pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art7§2."></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      § 2º
      <a
        href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art3">(Revogado)</a>.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
        href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art7§3">
        </a>
      </span>
    </del>
    <span style="color: black; font-weight: normal">
      § 3º O tratamento de dados pessoais cujo acesso é público deve considerar a finalidade, a boa-fé e o interesse
      público que justificaram sua disponibilização.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art7§4">
        </a>
      </span>
    </del>
    <span style="color: black; font-weight: normal">
      § 4º É dispensada a exigência do consentimento previsto no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo para os dados tornados manifestamente públicos pelo titular, resguardados os direitos do titular
      e os
      princípios previstos nesta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art7§5">
        </a>
      </span>
    </del>
    <span style="color: black; font-weight: normal">
      § 5º O controlador que obteve o consentimento referido no inciso I do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo que necessitar comunicar ou compartilhar dados pessoais com outros controladores deverá obter
      consentimento específico do titular para esse fim, ressalvadas as hipóteses de dispensa do consentimento
      previstas
      nesta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <del>
      <span style="color: black; font-weight: normal">
        <a name="art7§6">
        </a>
      </span>
    </del>
    <span style="color: black; font-weight: normal">
      § 6º A eventual dispensa da exigência do consentimento não desobriga os agentes de tratamento das demais
      obrigações previstas nesta Lei, especialmente da observância dos princípios gerais e da garantia dos direitos
      do
      titular.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art8§7"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      § 7º O tratamento posterior dos dados pessoais a que se referem os §§ 3º
      e 4º deste artigo poderá ser realizado para novas finalidades, desde que
      observados os propósitos legítimos e específicos para o novo tratamento e a
      preservação dos direitos do titular, assim como os fundamentos e os
      princípios previstos nesta Lei.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art8">
      </a>
      Art. 8º O consentimento previsto no inciso I do art. 7º desta Lei deverá ser fornecido por escrito ou por
      outro
      meio que demonstre a manifestação de vontade do titular.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art8§1"></a>§ 1º Caso o consentimento seja fornecido por escrito, esse deverá constar de cláusula
      destacada das demais cláusulas contratuais.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art8§2"></a>§ 2º Cabe ao controlador o ônus da prova de que o consentimento foi obtido em
      conformidade
      com o disposto nesta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art8§3"></a>§ 3º É vedado o tratamento de dados pessoais mediante vício de consentimento.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art8§4"></a>§ 4º O consentimento deverá referir-se a finalidades determinadas, e as autorizações
      genéricas para o tratamento de dados pessoais serão nulas.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art8§5"></a>§ 5º O consentimento pode ser revogado a qualquer momento mediante manifestação expressa
      do
      titular, por procedimento gratuito e facilitado, ratificados os tratamentos realizados sob amparo do
      consentimento
      anteriormente manifestado enquanto não houver requerimento de eliminação, nos termos do inciso VI do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      do art. 18 desta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art8§6"></a>§ 6º Em caso de alteração de informação referida nos incisos I, II, III ou V do art. 9º
      desta
      Lei, o controlador deverá informar ao titular, com destaque de forma específica do teor das alterações,
      podendo o
      titular, nos casos em que o seu consentimento é exigido, revogá-lo caso discorde da alteração.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art9">
      </a>
      Art. 9º O titular tem direito ao acesso facilitado às informações sobre o tratamento de seus dados, que
      deverão
      ser disponibilizadas de forma clara, adequada e ostensiva acerca de, entre outras características previstas em
      regulamentação para o atendimento do princípio do livre acesso:
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      I - finalidade específica do tratamento;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      II - forma e duração do tratamento, observados os segredos comercial e industrial;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      III - identificação do controlador;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      IV - informações de contato do controlador;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      V - informações acerca do uso compartilhado de dados pelo controlador e a finalidade;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      VI - responsabilidades dos agentes que realizarão o tratamento; e
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      VII - direitos do titular, com menção explícita aos direitos contidos no art. 18 desta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 1º Na hipótese em que o consentimento é requerido, esse será considerado nulo caso as informações fornecidas
      ao
      titular tenham conteúdo enganoso ou abusivo ou não tenham sido apresentadas previamente com transparência, de
      forma clara e inequívoca.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 2º Na hipótese em que o consentimento é requerido, se houver mudanças da finalidade para o tratamento de
      dados
      pessoais não compatíveis com o consentimento original, o controlador deverá informar previamente o titular
      sobre
      as mudanças de finalidade, podendo o titular revogar o consentimento, caso discorde das alterações.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 3º Quando o tratamento de dados pessoais for condição para o fornecimento de produto ou de serviço ou para o
      exercício de direito, o titular será informado com destaque sobre esse fato e sobre os meios pelos quais
      poderá
      exercer os direitos do titular elencados no art. 18 desta Lei.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art10">
      </a>
      Art. 10. O legítimo interesse do controlador somente poderá fundamentar tratamento de dados pessoais para
      finalidades legítimas, consideradas a partir de situações concretas, que incluem, mas não se limitam a:
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      I - apoio e promoção de atividades do controlador; e
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      II - proteção, em relação ao titular, do exercício regular de seus direitos ou prestação de serviços que o
      beneficiem, respeitadas as legítimas expectativas dele e os direitos e liberdades fundamentais, nos termos
      desta
      Lei.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 1º Quando o tratamento for baseado no legítimo interesse do controlador, somente os dados pessoais
      estritamente
      necessários para a finalidade pretendida poderão ser tratados.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 2º O controlador deverá adotar medidas para garantir a transparência do tratamento de dados baseado em seu
      legítimo interesse.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 3º A autoridade nacional poderá solicitar ao controlador relatório de impacto à proteção de dados pessoais,
      quando o tratamento tiver como fundamento seu interesse legítimo, observados os segredos comercial e
      industrial.
    </span>
  </p>
  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção II
      <br>
      Do Tratamento de Dados Pessoais Sensíveis
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11">
      </a>
      Art. 11. O tratamento de dados pessoais sensíveis somente poderá ocorrer nas seguintes hipóteses:
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11i">
      </a>
      I - quando o titular ou seu responsável legal consentir, de forma específica e destacada, para finalidades
      específicas;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11ii">
      </a>
      II - sem fornecimento de consentimento do titular, nas hipóteses em que for indispensável para:
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iia">
      </a>
      a) cumprimento de obrigação legal ou regulatória pelo controlador;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iib">
      </a>
      b) tratamento compartilhado de dados necessários à execução, pela administração pública, de políticas públicas
      previstas em leis ou regulamentos;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iic">
      </a>
      c) realização de estudos por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados
      pessoais
      sensíveis;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iid">
      </a>
      d) exercício regular de direitos, inclusive em contrato e em processo judicial, administrativo e arbitral,
      este
      último nos termos da
      <a href="http://www.planalto.gov.br/ccivil_03/LEIS/L9307.htm">
        Lei nº 9.307, de 23 de setembro de 1996 (Lei de Arbitragem)
      </a>
      ;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iie">
      </a>
      e) proteção da vida ou da incolumidade física do titular ou de terceiro;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal; text-decoration:line-through">
      <a name="art11iif">
      </a>
      f) tutela da saúde, em procedimento realizado por profissionais da área da saúde ou por entidades sanitárias;
      ou
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <a name="art11iif.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      f) tutela da saúde, exclusivamente, em procedimento realizado por
      profissionais de saúde, serviços de saúde ou autoridade sanitária;
      ou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iig">
      </a>
      g) garantia da prevenção à fraude e à segurança do titular, nos processos de identificação e autenticação de
      cadastro em sistemas eletrônicos, resguardados os direitos mencionados no art. 9º desta Lei e exceto no caso
      de
      prevalecerem direitos e liberdades fundamentais do titular que exijam a proteção dos dados pessoais.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iig§1">
      </a>
      § 1º Aplica-se o disposto neste artigo a qualquer tratamento de dados pessoais que revele dados pessoais
      sensíveis
      e que possa causar dano ao titular, ressalvado o disposto em legislação específica.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iig§2">
      </a>
      § 2º Nos casos de aplicação do disposto nas alíneas “a” e “b” do inciso II do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo pelos órgãos e pelas entidades públicas, será dada publicidade à referida dispensa de
      consentimento,
      nos termos do inciso I do
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      do art. 23 desta Lei.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art11iig§3">
      </a>
      § 3º A comunicação ou o uso compartilhado de dados pessoais sensíveis entre controladores com objetivo de
      obter
      vantagem econômica poderá ser objeto de vedação ou de regulamentação por parte da autoridade nacional, ouvidos
      os
      órgãos setoriais do Poder Público, no âmbito de suas competências.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <span style="color: black; font-weight: normal; text-decoration:line-through">
      <a name="art11iig§4">
      </a>
      § 4º É vedada a comunicação ou o uso compartilhado entre controladores de dados pessoais sensíveis referentes
      à
      saúde com objetivo de obter vantagem econômica, exceto nos casos de portabilidade de dados quando consentido
      pelo
      titular.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <a name="art11iig§4."></a>
    <span style="color: black; text-decoration:line-through">
      § 4º É vedada a comunicação ou o uso compartilhado entre controladores de dados pessoais sensíveis referentes à
      saúde com objetivo de obter vantagem econômica, exceto nas hipóteses
      de:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Redação dada pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>
  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <span style="color: black; text-decoration:line-through">
      <a name="art11iig§4i"></a>I - portabilidade de dados quando consentido pelo titular;
      ou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Incluído pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>

  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; margin-top: 0; margin-bottom: 0">
    <span style="color: black; text-decoration:line-through">
      <a name="art11iig§4ii"></a>II - necessidade de comunicação para a adequada prestação de serviços de saúde
      suplementar.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/Mpv/mpv869.htm#art1">
        (Incluído pela Medida Provisória nº 869, de 2018)
      </a>
    </span>
  </p>
  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; ">
    <a name="art11iig§4.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      § 4º É vedada a comunicação ou o uso compartilhado entre controladores
      de dados pessoais sensíveis referentes à saúde com objetivo de obter
      vantagem econômica, exceto nas hipóteses relativas a prestação de
      serviços de saúde, de assistência farmacêutica e de assistência à saúde,
      desde que observado o § 5º deste artigo, incluídos os serviços
      auxiliares de diagnose e terapia, em benefício dos interesses dos
      titulares de dados, e para permitir:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Redação dada pela
        Lei nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; ">
    <a name="art11iig§4i.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      I - a portabilidade de dados quando solicitada pelo titular;
      ou&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; ">
    <a name="art11iig§4ii.0"></a>
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      II - as transações financeiras e administrativas resultantes do uso e da
      prestação dos serviços de que trata este
      parágrafo.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p class="MsoNormal" style="text-align: justify; text-indent: 35px; ">
    <span style="font-size:
10.0pt;font-family:Arial,sans-serif;color:black;font-weight:normal">
      <a name="art11§5"></a>§ 5º É vedado às operadoras de planos privados
      de assistência à saúde o tratamento de dados de saúde para a prática de
      seleção de riscos na contratação de qualquer modalidade, assim como na
      contratação e exclusão de
      beneficiários.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="http://www.planalto.gov.br/ccivil_03/_Ato2019-2022/2019/Lei/L13853.htm#art2">(Incluído pela Lei
        nº 13.853, de 2019)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
    <ion-item>
      <a href="http://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/L13709.htm#art65..">Vigência
      </a>
    </ion-item>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art12">
      </a>
      Art. 12. Os dados anonimizados não serão considerados dados pessoais para os fins desta Lei, salvo quando o
      processo de anonimização ao qual foram submetidos for revertido, utilizando exclusivamente meios próprios, ou
      quando, com esforços razoáveis, puder ser revertido.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 1º A determinação do que seja razoável deve levar em consideração fatores objetivos, tais como custo e tempo
      necessários para reverter o processo de anonimização, de acordo com as tecnologias disponíveis, e a utilização
      exclusiva de meios próprios.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 2º Poderão ser igualmente considerados como dados pessoais, para os fins desta Lei, aqueles utilizados para
      formação do perfil comportamental de determinada pessoa natural, se identificada.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 3º A autoridade nacional poderá dispor sobre padrões e técnicas utilizados em processos de anonimização e
      realizar verificações acerca de sua segurança, ouvido o Conselho Nacional de Proteção de Dados Pessoais.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art13">
      </a>
      Art. 13. Na realização de estudos em saúde pública, os órgãos de pesquisa poderão ter acesso a bases de dados
      pessoais, que serão tratados exclusivamente dentro do órgão e estritamente para a finalidade de realização de
      estudos e pesquisas e mantidos em ambiente controlado e seguro, conforme práticas de segurança previstas em
      regulamento específico e que incluam, sempre que possível, a anonimização ou pseudonimização dos dados, bem como
      considerem os devidos padrões éticos relacionados a estudos e pesquisas.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 1º A divulgação dos resultados ou de qualquer excerto do estudo ou da pesquisa de que trata o
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo em nenhuma hipótese poderá revelar dados pessoais.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 2º O órgão de pesquisa será o responsável pela segurança da informação prevista no
    </span>
    <span style="color: black">
      caput
    </span>
    <span style="color: black; font-weight: normal">
      deste artigo, não permitida, em circunstância alguma, a transferência dos dados a terceiro.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 3º O acesso aos dados de que trata este artigo será objeto de regulamentação por parte da autoridade nacional e
      das autoridades da área de saúde e sanitárias, no âmbito de suas competências.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 4º Para os efeitos deste artigo, a pseudonimização é o tratamento por meio do qual um dado perde a possibilidade
      de associação, direta ou indireta, a um indivíduo, senão pelo uso de informação adicional mantida separadamente
      pelo controlador em ambiente controlado e seguro.
    </span>
  </p>

  <p align="center" class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção III
      <br>
      Do Tratamento de Dados Pessoais de Crianças e de Adolescentes
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art14">
      </a>
      Art. 14. O tratamento de dados pessoais de crianças e de adolescentes deverá ser realizado em seu melhor
      interesse, nos termos deste artigo e da legislação pertinente.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 1º O tratamento de dados pessoais de crianças deverá ser realizado com o consentimento específico e em destaque
      dado por pelo menos um dos pais ou pelo responsável legal.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 2º No tratamento de dados de que trata o § 1º deste artigo, os controladores deverão manter pública a informação
      sobre os tipos de dados coletados, a forma de sua utilização e os procedimentos para o exercício dos direitos a
      que se refere o art. 18 desta Lei.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 3º Poderão ser coletados dados pessoais de crianças sem o consentimento a que se refere o § 1º deste artigo
      quando a coleta for necessária para contatar os pais ou o responsável legal, utilizados uma única vez e sem
      armazenamento, ou para sua proteção, e em nenhum caso poderão ser repassados a terceiro sem o consentimento de que
      trata o § 1º deste artigo.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 4º Os controladores não deverão condicionar a participação dos titulares de que trata o § 1º deste artigo em
      jogos, aplicações de internet ou outras atividades ao fornecimento de informações pessoais além das estritamente
      necessárias à atividade.
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 5º O controlador deve realizar todos os esforços razoáveis para verificar que o consentimento a que se refere o
      § 1º deste artigo foi dado pelo responsável pela criança, consideradas as tecnologias disponíveis.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      § 6º As informações sobre o tratamento de dados referidas neste artigo deverão ser fornecidas de maneira simples,
      clara e acessível, consideradas as características físico-motoras, perceptivas, sensoriais, intelectuais e mentais
      do usuário, com uso de recursos audiovisuais quando adequado, de forma a proporcionar a informação necessária aos
      pais ou ao responsável legal e adequada ao entendimento da criança.
    </span>
  </p>
  <p class="Artigo" style="text-align: center; text-indent: 0cm; margin-top: 20px; margin-bottom: 20px">
    <span style="color: black; font-weight:700">
      Seção IV
      <br>
      Do Término do Tratamento de Dados
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art15">
      </a>
      Art. 15. O término do tratamento de dados pessoais ocorrerá nas seguintes hipóteses:
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      I - verificação de que a finalidade foi alcançada ou de que os dados deixaram de ser necessários ou pertinentes ao
      alcance da finalidade específica almejada;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      II - fim do período de tratamento;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      III - comunicação do titular, inclusive no exercício de seu direito de revogação do consentimento conforme
      disposto no § 5º do art. 8º desta Lei, resguardado o interesse público; ou
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      IV - determinação da autoridade nacional, quando houver violação ao disposto nesta Lei.
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      <a name="art16">
      </a>
      Art. 16. Os dados pessoais serão eliminados após o término de seu tratamento, no âmbito e nos limites técnicos das
      atividades, autorizada a conservação para as seguintes finalidades:
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      I - cumprimento de obrigação legal ou regulatória pelo controlador;
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      II - estudo por órgão de pesquisa, garantida, sempre que possível, a anonimização dos dados pessoais;
    </span>
  </p>

  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      III - transferência a terceiro, desde que respeitados os requisitos de tratamento de dados dispostos nesta Lei; ou
    </span>
  </p>
  <p style="text-align: justify" class="Artigo" style="text-indent: 35px; ">
    <span style="color: black; font-weight: normal">
      IV - uso exclusivo do controlador, vedado seu acesso por terceiro, e desde que anonimizados os dados.
    </span>
  </p>
  <br>
  <br>


</ion-content>
